<ng-container *ngIf="courses$ | async as courses">
  <div class="header">
    <app-search class="header__search" (search)="onSearch($event)"></app-search>
    <app-button
      *ngIf="isAdmin"
      [buttonText]="infoButtonText"
      (click)="addCourse()"
    ></app-button>
  </div>

  <ng-container *ngIf="courses.length === 0">
    <app-info [title]="infoTitle" [text]="infoText">
      <app-button [buttonText]="infoButtonText"></app-button>
    </app-info>
  </ng-container>

  <app-courses-list
    [courses]="courses"
    [editable]="isAdmin"
    (showCourse)="showCourse($event)"
    (editCourse)="editCourse($event)"
    (deleteCourse)="deleteCourse($event)"
  ></app-courses-list>
</ng-container>
