<app-course-card
  *ngFor="let singleCourse of courses; trackBy: trackByCourseId"
  [course]="singleCourse"
  [allAuthors]="(allAuthors$ | async) ?? []"
  [editable]="editable"
  (clickOnShow)="onShowCourse(singleCourse)"
>
  <app-button
    [iconName]="'trash-can'"
    [variant]="'outline'"
    [size]="'xl'"
    (click)="onDeleteCourse(singleCourse)"
  ></app-button>
  <app-button
    [iconName]="'pencil'"
    [variant]="'outline'"
    [size]="'xl'"
    (click)="onEditCourse(singleCourse)"
  ></app-button>
</app-course-card>
